DB_Url={jdbc:mysql://localhost:3306/ucmplayground}
DB_Username=root
DB_Password=

Oauth_Client_Id=example-client-id.apps.googleusercontent.com
Oauth_Client_Secret=example-client-secret

JWT_Secret=example-jwt-secret

Cloudinary_Cloud_Name=example-cloud-name
Cloudinary_API_Key=example-api-key
Cloudinary_API_Secret=example-api-secret